huggingface==0.0.1
jupyterlab==3.2.5
numpy==1.21.1
pandas==1.1.5
pyhamcrest==2.0.3
pytest==6.2.5
scikit-learn==1.0.2
scipy==1.7.3
tokenizers==0.10.3
torch==1.10.0
tqdm==4.64.0
transformers==4.12.3
wandb==0.12.9
